
body{
		background-color: #ebeff5;
	}

  h1 {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}


	#total-orders{
		background-color: #4cb4c7;
	}


	#orders-delivered{
		background-color: #7abecc;
	}

	#orders-pending{
		background-color: #7CD1C0;
	}
